bool 'Additional low level drivers' CONFIG_LOWLEVEL_SOUND

if [ "$CONFIG_LOWLEVEL_SOUND" = "y" ]; then
   bool 'ACI mixer (miroPCM12)' CONFIG_ACI_MIXER
   bool 'AWE32 synth' CONFIG_AWE32_SYNTH
   bool 'Gallant Audio Cards (SC-6000 and SC-6600 based)' CONFIG_AEDSP16

   if [ "$CONFIG_AEDSP16" = "y" ]; then
      comment 'SC-6600 Audio Cards have no jumper switches at all'
      bool 'SC-6600 based audio cards (new Audio Excel DSP 16)' CONFIG_SC6600

      if [ "$CONFIG_SB" = "y" -a "$CONFIG_AEDSP16_MSS" != "y" ]; then
         bool 'Audio Excel DSP 16 (SBPro emulation)' CONFIG_AEDSP16_SBPRO
         if [ "$CONFIG_AEDSP16_SBPRO" = "y" ]; then
	    comment 'Audio Excel DSP 16 [Sound Blaster Pro]'
            hex 'I/O base for Audio Excel DSP 16 220 or 240' \
	                                           AEDSP16_BASE $SBC_BASE
            int 'Audio Excel DSP 16 IRQ 5, 7, 9, 10, 11' \
	                                           AEDSP16_SBC_IRQ $SBC_IRQ
            int 'Audio Excel DSP 16 DMA 0, 1 or 3' AEDSP16_SBC_DMA $SBC_DMA
         fi
      fi
   
      if [ "$CONFIG_MSS" = "y" -a "$CONFIG_AEDSP16_SBPRO" != "y" ]; then
         bool 'Audio Excel DSP 16 (MSS emulation)' CONFIG_AEDSP16_MSS
         if [ "$CONFIG_AEDSP16_MSS" = "y" ]; then
	    comment 'Audio Excel DSP 16 [Microsoft Sound System]'
	    hex 'I/O base for Audio Excel DSP 16 220 or 240' AEDSP16_BASE 220
            int 'Audio Excel DSP 16 IRQ 5, 7, 9, 10, 11' \
	                                           AEDSP16_MSS_IRQ $MSS_IRQ
            int 'Audio Excel DSP 16 DMA 0, 1 or 3' AEDSP16_MSS_DMA $MSS_DMA
         fi
      fi

      if [ "$CONFIG_MPU401" = "y" ]; then
         bool 'Audio Excel DSP 16 (MPU401 emulation)' CONFIG_AEDSP16_MPU401
         if [ "$CONFIG_AEDSP16_MPU401" = "y" ]; then
	    comment 'Audio Excel DSP 16 [MPU-401]'
	    if [ "$CONFIG_AEDSP16_SBPRO" != "y" \
	         -a "$CONFIG_AEDSP16_MSS" != "y" ]; then
	       hex 'I/O base for Audio Excel DSP 16 220 or 240' AEDSP16_BASE 220
	    fi
            int 'MPU401 IRQ for Audio Excel DSP 16 5, 7, 9, 10 or 0 (disable)' \
	    						AEDSP16_MPU_IRQ $MPU_IRQ
         fi
      fi

      if [ "$CONFIG_SC6600" = "y" ]; then
         comment 'SC-6600 specific configuration'
         bool 'Activate SC-6600 Joystick Interface' CONFIG_SC6600_JOY
         int 'SC-6600 CDROM Interface (4=None, 3=IDE, 1=Panasonic, 0=?Sony?)' \
	 					CONFIG_SC6600_CDROM 4
         hex 'SC-6600 CDROM Interface I/O Address' CONFIG_SC6600_CDROMBASE 0
      fi

   fi
fi
